export DEBUG='True/False'
export ADMIN_URL='admin_url/'
export STATIC_URL='/static_url/'
export EMAIL_BACKEND='django.core.mail.backends.console.EmailBackend' #default development/testing environ
export EMAIL_HOST_USER='your_email'
export EMAIL_HOST_PASSWORD='your_email_password'
export SECRET_KEY='secrete_key'
export DATABASE_NAME='db_name'
export DATABASE_HOST='db_host'
export DATABASE_USER='db_user'
export DATABASE_PASSWORD='db_pasword'
export DATABASE_PORT='db_port' 
export DJANGO_SETTINGS_MODULE=config.settings.(development/testing/production/staging)
python manage.py makemigrations
python manage.py migrate
python manage.py runserver --settings=config.settings.(development/testing/production/staging)